.btn_rounded{
    height: 62px;
    width: 62px;
    border-radius: 50%;
    background-color: rgb(195, 127, 255);
}
.btn_circle{
    height: 62px;
    width: 62px;
    border-radius: 50%;
    background-color: rgb(42, 165, 142);
}